body, html {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em 0;
}